
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner {
    max-width: 1200px;
    margin: auto;
}
.product-items{
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding: 12px;
}
.product-item{
    width: 20%;
    background-color: #dddddd;
    padding: 12px;
    text-align: center;
}
.product-item img {
    width: 100%;
    margin-bottom: 20px;
}
.product-item-text{
    display: flex;
    justify-content: space-between;
}
.product-item button{
    margin-top: 12px;
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.4s ease;
}
.product-item button:hover{
    background-color: darkorange;
}
/*--------------cart-----------*/
.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    color: antiquewhite;
}
.cart table{
    width: 100%;
}
.cart table thead tr th:first-child{
    text-align: left;
}
.cart table tr td{
    border-bottom: 1px solid #dddddd;
    padding: 12px 0;
}
.cart table thead tr th:last-child {
    text-align: right;
}
.cart table tbody tr td:last-child{
    text-align: right;
}